.category-list {
    margin-top: 20px;
}

.category-list h2 {
    font-size: 1.25rem;
    margin-bottom: 10px;
}

.category {
    padding: 10px;
    margin-bottom: 5px;
    background-color: #f3f3f3;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s, transform 0.3s;
}

.category:hover {
    background-color: #e0e0e0;
    transform: translateX(5px);
}
